In [1]:
print("Hello student! Superman Session project 1 started")

Hello student! Superman Session project 1 started

In [2]:
student = {
    "name":"Arafat",
    "math":85,
    "eng":78,
    "science":92
}
print(student)
print(student["name"])
print(student["math"])

{'name': 'Arafat', 'math': 85, 'eng': 78, 'science': 92}
Arafat
85

In [5]:
students=[
    {"name":"Arafat","math":85,"eng":78,"science":92},
    {"name":"Nusrat","math":90,"eng":88,"science":80},
    {"name":"Sakib","math":70,"eng":60,"science":75}
]
print("total student",len(students))
print(students)

total student 3
[{'name': 'Arafat', 'math': 85, 'eng': 78, 'science': 92}, {'name': 'Nusrat', 'math': 90, 'eng': 88, 'science': 80}, {'name': 'Sakib', 'math': 70, 'eng': 60, 'science': 75}]

In [7]:
for s in students:
  s["total"]=s["math"]+ s["eng"]+s["science"]

#check if total was calculated
for s in students:
  print(s["name"],"▶ total:",s["total"])

Arafat ▶ total: 255
Nusrat ▶ total: 258
Sakib ▶ total: 205

In [9]:
highest=-1
topper_name=""
for s in students:
    if s["total"]>highest:
        highest=s["total"]
        topper_name=s["name"]
print("Topper:",topper_name,"with",highest,"marks")

Topper: Nusrat with 258 marks

In [10]:
for s in students:
  print("----- Report Card -----")
  print("Name:",s["name"])
  print("Math:",s["math"])
  print("English:",s["eng"])
  print("Science:",s["science"])
  print("Total:",s["total"])
  print("-----------------------")

print("\nOverall Topper→",topper_name,"with",highest)

----- Report Card -----
Name: Arafat
Math: 85
English: 78
Science: 92
Total: 255
-----------------------
----- Report Card -----
Name: Nusrat
Math: 90
English: 88
Science: 80
Total: 258
-----------------------
----- Report Card -----
Name: Sakib
Math: 70
English: 60
Science: 75
Total: 205
-----------------------

Overall Topper→ Nusrat with 258