In [1]:
expenses = [
    {"category": "Food", "amount": 2500},
    {"category": "Transport", "amount": 1200},
    {"category": "Shopping", "amount": 3000},
    {"category": "Food", "amount": 1500},
    {"category": "Rent", "amount": 8000}
]

In [2]:
# calculating total expense
total_expense = 0
for item in expenses:
    total_expense += item["amount"]
print("Total Expense:", total_expense)

Total Expense: 16200

In [3]:
# calculating category wise expense
category_wise = {}
for item in expenses:
    category = item["category"]
    amount = item["amount"]
    if category in category_wise:
        category_wise[category] += amount
    else:
        category_wise[category] = amount
print("Category wise expense:", category_wise)

Category wise expense: {'Food': 4000, 'Transport': 1200, 'Shopping': 3000, 'Rent': 8000}

In [4]:
# comparing with income
income = 7000
savings = income - total_expense
if savings > 0:
    print("You saved:", savings, "Taka")
elif savings == 0:
    print("Break-even! No savings, no loss.")
else:
    print("You are in loss:", abs(savings), "Taka")

You are in loss: 9200 Taka

In [5]:
# finding highest expense category
highest_category = None
highest_amount = 0
for category, amount in category_wise.items():
    if amount > highest_amount:
        highest_amount = amount
        highest_category = category
print("Highest expense is in:", highest_category, "-", highest_amount, "Taka")

Highest expense is in: Rent - 8000 Taka